<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Triangle Good</title>

  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  <link href="sass_css/survey.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>

  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script language="javascript">
      $(document).ready(function () {
/*          var theScroll;
          theScroll = new iScroll('wrapper');

          $(".action").click(function () {
              console.log(event.target.id);
              $.post("/action", event.target.id);
              $("footer").html("Thanks for your feedback!").addClass("response");
          })*/

          $("#projects li").click(function(){
              window.location.href = "/project";
          })

      });

  </script>
</head>

<body>


<div id="wrapper">
  <div id="scroll-content">
    <header>
      <div class="row">
        <span class="8">Triangle Good</span>
        <span class="4" style="float: right;">
          <form class="form-horizontal">
                  <fieldset>
                    <div class="controls">
                          <div class="input-append">
                            <input class="span2" id="search" placeholder="Search Projects" size="16" type="text"><button class="btn" type="button"><i class="icon-search"></i></button>
                          </div>
                        </div>
                  </fieldset>
                </form>
        </span>
      </div>
    </header>
    <div class="mainContent">
      <div id="container" class="container">
        <div id="main" role="main">

          <div class="page-header">
            <h2>Featured Projects</h2>
              <small></small>
              <div class="toolbar" style="float: right">


          </div>

          <div class="row-fluid">
            <div class="span12">
              <ul class="thumbnails" id="projects">
                  <li class="span3">

                    <div class="thumbnail wrapper" style="min-height: 250px" >
                      <div class="ribbon-wrapper">
                        <div class="ribbon-Production">Funded</div>
                      </div>
                      <a class="thumbnail">
                        <img src="http://placehold.it/350x250">
                      </a>

                      <div class="caption">
                        <h4>Community Garden</h4>

                        <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                          to revitalize a community garden that has been neglected for several years.</p>

                        <div class="well project_detail_panel">
                          <ul>
                            <li><i class="icon-map-marker"></i>Cary</li>
                            <li><i class="icon-heart"></i>20</li>
                            <li>
                              <span><img src="/images/users/anne.jpg" style="width: 30px; height: 30px;"></span>
                              <span>Ann Clark</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>

                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="http://placehold.it/350x250">
                    </a>

                    <div class="caption">
                      <h4>Community Garden</h4>

                      <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                        to revitalize a community garden that has been neglected for several years.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Cary</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="http://placehold.it/35x35"></span>
                            <span>Ann Clark</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="http://placehold.it/350x250">
                    </a>

                    <div class="caption">
                      <h4>Community Garden</h4>

                      <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                        to revitalize a community garden that has been neglected for several years.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Cary</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="http://placehold.it/35x35"></span>
                            <span>Ann Clark</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Production">Funded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="http://placehold.it/350x250">
                    </a>

                    <div class="caption">
                      <h4>Community Garden</h4>

                      <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                        to revitalize a community garden that has been neglected for several years.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Cary</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="http://placehold.it/35x35"></span>
                            <span>Ann Clark</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="http://placehold.it/350x250">
                    </a>

                    <div class="caption">
                      <h4>Community Garden</h4>

                      <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                        to revitalize a community garden that has been neglected for several years.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Cary</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="http://placehold.it/35x35"></span>
                            <span>Ann Clark</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="http://placehold.it/350x250">
                    </a>

                    <div class="caption">
                      <h4>Community Garden</h4>

                      <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                        to revitalize a community garden that has been neglected for several years.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Cary</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="http://placehold.it/35x35"></span>
                            <span>Ann Clark</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>



              </ul>

            </div>
          </div>

        </div>
        <!--/row-->

      </div>
    </div>


  </div>
</div>
  </div>

<!--<footer style="width: 100%">
  <button class="btn btn-large action" id="no" href="#">Not interested</button>
  <button class="btn btn-large btn-success action" id="yes" href="#">Yes!, count me in</button>
</footer>-->

<script type="text/javascript" src="/javascripts/iscroll-lite.js"></script>
</body>
</html>​