<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Triangle Good</title>

  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  <link href="sass_css/survey.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>

  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script language="javascript">
      $(document).ready(function () {
/*          var theScroll;
          theScroll = new iScroll('wrapper');

          $(".action").click(function () {
              console.log(event.target.id);
              $.post("/action", event.target.id);
              $("footer").html("Thanks for your feedback!").addClass("response");
          })*/

          $("#projects li").click(function(){
              window.location.href = "/project";
          })

      });

  </script>
</head>

<body>


<div id="wrapper">
  <div id="scroll-content">
    <header>
      <div class="row">
        <span class="8" style="float: left; padding-left: 35px;">
          <span style="vertical-align: top;"><img src="images/branding/Triangle_Good_Logo_60x60.png"></span>
          <span class="brandName">Triangle Good</span>
          <div class="brandMotto">Do your best good</div>
          </span>

        <span class="4" style="float: right;position: relative; right: 10px;">

          <div class="btn-group">
            <button class="btn" type="button"><i class="icon-leaf"></i> Start a Project</button>
            <button class="btn" type="button"><i class="icon-eye-open"></i> Discover</button>
            <button class="btn" type="button"><i class="icon-search"></i> Search</button>
          </div>


        </span>
      </div>
    </header>
    <div class="mainContent">
      <div id="container" class="container">
        <div id="main" role="main">

        <div class="row-fluid">
          <div rel="OWXSE7VS" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="trianglegood.herokuapp.com/" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
        </div>

          <div class="page-header">
            <h2>Featured Projects</h2>
              <small></small>
              <div class="toolbar" style="float: right">


          </div>

          <div class="row-fluid">

            <div class="span12">
              <ul class="thumbnails" id="projects">
                  <li class="span3">

                    <div class="thumbnail wrapper" style="min-height: 250px" >
                      <div class="ribbon-wrapper">
                        <div class="ribbon-Production">Funded</div>
                      </div>
                      <a class="thumbnail">
                        <img src="/images/projects/Community_Garden.JPG">
                      </a>

                      <div class="caption">
                        <h4>Community Garden</h4>

                        <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                          to revitalize a community garden that has been neglected for several years.</p>

                        <div class="well project_detail_panel">
                          <ul>
                            <li><i class="icon-map-marker"></i>Cary</li>
                            <li><i class="icon-heart"></i>20</li>
                            <li>
                              <span><img src="/images/users/anne.jpg" style="width: 30px; height: 30px;"></span>
                              <span>Ann Clark</span>
                            </li>
                          </ul>
                        </div>

                      <div class="well share">
                        <a href="http://www.facebook.com/sharer.php?u=TriangleGood.com&amp;t=Triangle Good">
                            <img src="images/branding/facebook.png" >
                        </a>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">
                        <img src="images/branding/twitter_bird.png" >
                        </a>
                        <a href="https://twitter.com/share" class="pinterest-share-button" data-lang="en">
                        <img src="images/branding/pinterest.png" >
                        </a>
                        <a href="mailto:" class="email-share-button" data-lang="en">
                        <img src="images/branding/email.png" >
                        </a>
                        </div>
                    </div>

                    </div>
                  </li>

                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="/images/projects/Sidewalk.jpg">
                    </a>

                    <div class="caption">
                      <h4>Community Sidewalks</h4>

                      <p>Residents along both sides of Lake Wheeler Road have been requesting a sidewalk to allow them to more easily walk and bike along the roadside and are asking others to join them in building a community sidewalk.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Raleigh</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="/images/users/headshotthumb.jpg"></span>
                            <span>Amanda Holister</span>
                          </li>
                        </ul>
                      </div>

                      <div class="well share">
                        <a href="http://www.facebook.com/sharer.php?u=TriangleGood.com&amp;t=Triangle Good">
                            <img src="images/branding/facebook.png" >
                        </a>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">
                        <img src="images/branding/twitter_bird.png" >
                        </a>
                        <a href="https://twitter.com/share" class="pinterest-share-button" data-lang="en">
                        <img src="images/branding/pinterest.png" >
                        </a>
                        <a href="mailto:" class="email-share-button" data-lang="en">
                        <img src="images/branding/email.png" >
                        </a>
                      </div>


                    </div>
                  </div>
                </li>

                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="/images/projects/roadway_cleanup.jpg">
                    </a>

                    <div class="caption">
                      <h4>Roadway Cleanup Initiative</h4>

                      <p>Local residents have been complaining about the messy roadways in their community, so we're looking for several volunteers and a little funding to enable us to cleanup these roads!</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Garner</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="/images/users/headshotthumb.jpg"></span>
                            <span>Brian Marshall</span>
                          </li>
                        </ul>
                      </div>

                      <div class="well share">
                        <a href="http://www.facebook.com/sharer.php?u=TriangleGood.com&amp;t=Triangle Good">
                            <img src="images/branding/facebook.png" >
                        </a>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">
                        <img src="images/branding/twitter_bird.png" >
                        </a>
                        <a href="https://twitter.com/share" class="pinterest-share-button" data-lang="en">
                        <img src="images/branding/pinterest.png" >
                        </a>
                        <a href="mailto:" class="email-share-button" data-lang="en">
                        <img src="images/branding/email.png" >
                        </a>
                      </div>

                    </div>
                  </div>
                </li>

                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Production">Funded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="/images/projects/theater_Chairs.jpg">
                    </a>

                    <div class="caption">
                      <h4>High School Theatre Chairs</h4>

                      <p>The local high school's auditorium is in need of new chairs because the old ones are in a fairly decrepit state.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Zebulon</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="/images/users/headshotthumb.jpg"></span>
                            <span>Mariah Hachmeister</span>
                          </li>
                        </ul>
                      </div>

                      <div class="well share">
                        <a href="http://www.facebook.com/sharer.php?u=TriangleGood.com&amp;t=Triangle Good">
                            <img src="images/branding/facebook.png" >
                        </a>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">
                        <img src="images/branding/twitter_bird.png" >
                        </a>
                        <a href="https://twitter.com/share" class="pinterest-share-button" data-lang="en">
                        <img src="images/branding/pinterest.png" >
                        </a>
                        <a href="mailto:" class="email-share-button" data-lang="en">
                        <img src="images/branding/email.png" >
                        </a>
                      </div>

                    </div>
                  </div>
                </li>
                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="/images/projects/Soup_Kitchen.jpg">
                    </a>

                    <div class="caption">
                      <h4>Soup Kitchen</h4>

                      <p>So my idea for the community is to provide a soup kitchen which is hosted by the North Raleigh Methodist Church, for whom we will need volunteers and some funding to start.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Raleigh</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="/images/users/headshotthumb.jpg"></span>
                            <span>Sandra Lockwood</span>
                          </li>
                        </ul>
                      </div>

                      <div class="well share">
                        <a href="http://www.facebook.com/sharer.php?u=TriangleGood.com&amp;t=Triangle Good">
                            <img src="images/branding/facebook.png" >
                        </a>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">
                        <img src="images/branding/twitter_bird.png" >
                        </a>
                        <a href="https://twitter.com/share" class="pinterest-share-button" data-lang="en">
                        <img src="images/branding/pinterest.png" >
                        </a>
                        <a href="mailto:" class="email-share-button" data-lang="en">
                        <img src="images/branding/email.png" >
                        </a>
                      </div>

                    </div>
                  </div>
                </li>
                <li class="span3">

                  <div class="thumbnail wrapper" style="min-height: 250px" >
                    <div class="ribbon-wrapper">
                      <div class="ribbon-Development">Unfunded</div>
                    </div>
                    <a class="thumbnail">
                      <img src="/images/projects/Church_Reconstruction.JPG">
                    </a>

                    <div class="caption">
                      <h4>Church Reconstruction</h4>

                      <p>A group of residents in the Fairview community is working with the NC Cooperative Extension
                        to revitalize a community garden that has been neglected for several years.</p>

                      <div class="well">
                        <ul>
                          <li><i class="icon-map-marker"></i>Chapel Hill</li>
                          <li><i class="icon-heart"></i>20</li>
                          <li>
                            <span><img src="/images/users/headshotthumb.jpg"></span>
                            <span>Ann ClarMarie Edwards</span>
                          </li>
                        </ul>
                      </div>

                      <div class="well share">
                        <a href="http://www.facebook.com/sharer.php?u=TriangleGood.com&amp;t=Triangle Good">
                            <img src="images/branding/facebook.png" >
                        </a>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">
                        <img src="images/branding/twitter_bird.png" >
                        </a>
                        <a href="https://twitter.com/share" class="pinterest-share-button" data-lang="en">
                        <img src="images/branding/pinterest.png" >
                        </a>
                        <a href="mailto:" class="email-share-button" data-lang="en">
                        <img src="images/branding/email.png" >
                        </a>
                      </div>
                    </div>
                  </div>
                </li>



              </ul>

            </div>
          </div>

        </div>
        <!--/row-->

      </div>
    </div>


  </div>
</div>
  </div>

<!--<footer style="width: 100%">
  <button class="btn btn-large action" id="no" href="#">Not interested</button>
  <button class="btn btn-large btn-success action" id="yes" href="#">Yes!, count me in</button>
</footer>-->

<script type="text/javascript" src="/javascripts/iscroll-lite.js"></script>
</body>
</html>​