<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Triangle Good</title>

  <link href="sass_css/survey.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>

  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script language="javascript">
      $(document).ready(function () {
          var theScroll;
          theScroll = new iScroll('wrapper');

          $(".action").click(function () {
              console.log(event.target.id);
              $.post("/action", event.target.id);
              $("footer").html("Thanks for your feedback!").addClass("response");
          })

      });

  </script>
</head>

<body>


<div id="wrapper">
  <div id="scroll-content">
    <header>
      Triangle Good
    </header>
    <div class="mainContent">
      desc
    </div>


  </div>
</div>

<footer style="width: 100%">
  <button class="btn btn-large action" id="no" href="#">Not interested</button>
  <button class="btn btn-large btn-success action" id="yes" href="#">Yes!, count me in</button>
</footer>

<script type="text/javascript" src="/javascripts/iscroll-lite.js"></script>
</body>
</html>​