<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Triangle Good</title>

  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  <link href="sass_css/survey.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>

  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script language="javascript" src="javascripts/bootstrap-carousel.js"></script>
  <script language="javascript" src="javascripts/bootstrap-tab.js"></script>

  <script language="javascript">
      $(document).ready(function () {
          /*          var theScroll;
           theScroll = new iScroll('wrapper');

           $(".action").click(function () {
           console.log(event.target.id);
           $.post("/action", event.target.id);
           $("footer").html("Thanks for your feedback!").addClass("response");
           })*/

      });

  </script>
</head>

<body>


<div id="wrapper">
  <div id="scroll-content">
    <header>
      <div class="row">
        <span class="8">Triangle Good</span>
        <span class="4" style="float: right;">
          <form class="form-horizontal">
            <fieldset>
              <div class="controls">
                <div class="input-append">
                  <input class="span2" id="search" placeholder="Search Projects" size="16" type="text">
                  <button class="btn" type="button"><i class="icon-search"></i></button>
                </div>
              </div>
            </fieldset>
          </form>
        </span>
      </div>
    </header>
    <div class="mainContent">
      <div id="container" class="container">
        <div id="main" role="main">

          <div class="page-header">
            <h2>Community Garden</h2>
            <small></small>
            <div class="toolbar" style="float: right">


            </div>

            <div class="row-fluid">
              <div class="span9">
                <!--<div class="span6">-->

                <div id="myCarousel" class="carousel slide" style="width: 45%;">
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="/images/projects/garden1.JPG" alt="">
                                <div class="carousel-caption">
                                  <h4>Garden1</h4>
                                  <p></p>
                                </div>
                              </div>
                              <div class="item">
                                <img src="/images/projects/garden2.JPG" alt="">
                                <div class="carousel-caption">
                                  <h4>Second Thumbnail label</h4>
                                  <p></p>
                                </div>
                              </div>
                              <div class="item">
                                <img src="/images/projects/garden3.JPG" alt="">
                                <div class="carousel-caption">
                                  <h4>Third Thumbnail label</h4>
                                  <p></p>
                                </div>
                              </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                          </div>

               <!-- </div>-->




              </div>
              <div class="span3 project_details_panel">
                    <div class="well">
                      <span><img src="/images/users/anne.jpg" style="width: 100px; height: 100px;"></span>
                      <span>Ann Clark
                      <p>Southern gal, tech enthusiast, artist + photographer, wife + mom,
                        do-gooder, runner, foodie, drinker of cocktails, and a big fan of knowledge.</p>
                      </span>
                    </div>

                    <div class="well">
                    <ul>
                      <li><i class="icon-map-marker"></i>Cary</li>
                      <li><i class="icon-heart"></i>20</li>
                      <li>

                      </li>
                    </ul>
                  </div>
              </div>
            </div>

            <div class="row">
              <div>
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                  <li><a href="#updates" data-toggle="tab">Updates</a></li>
                  <li><a href="#backers" data-toggle="tab">Backers</a></li>
                  <li><a href="#comments" data-toggle="tab">Comments</a></li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="home">A group of residents in the Fairview community is working with the NC Cooperative Extension to revitalize a community garden that has been neglected for several years.
                    <br><br>
                    The garden itself has been covered in black plastic to kill the weeds and a couple of rows of veggies were planted over the summer.
                    <br><br>
                    Our project will include clearing brush from around the garden fence and tacking the fence back up in various places.
                  </div>
                  <div class="tab-pane" id="updates">
                    <ul>
                      <li>
                        Please join me at Fairview Park next Saturday.  Wear your long pants, bring your favorite work gloves and your picnic lunch!
                      </li>
                      <li>
                        After our NPLD service projects we will have a kids' play date for NC Play Daze.
                      </li>

                      </ul>

                  </div>
                  <div class="tab-pane" id="backers">
                    <ul>
                      <li>
                        <span><img src="http://placehold.it/35x35"></span>
                        <span>Ann Clark</span>
                      </li>
                      <li>
                        <span><img src="http://placehold.it/35x35"></span>
                        <span>Brain</span>
                      </li>
                    </ul>

                  </div>
                  <div class="tab-pane" id="comments">comments</div>
                </div>
              </div>

            </div>

          </div>
          <!--/row-->

        </div>
      </div>


    </div>
  </div>
</div>

<!--<footer style="width: 100%">
  <button class="btn btn-large action" id="no" href="#">Not interested</button>
  <button class="btn btn-large btn-success action" id="yes" href="#">Yes!, count me in</button>
</footer>-->

<script type="text/javascript" src="/javascripts/iscroll-lite.js"></script>
</body>
</html>​